<div class="footer">
  <ul>
    <li>
      <a href="">Become a Seller</a>
    </li>
    <li>
      <a href="">Polices</a>
    </li>
    <li>
      <a href="">Terms and Conditions</a>
    </li>
    <li>
      <a href="">Help Center</a>
    </li>
    <li>
      <a href="">News</a>
    </li>
    <li>
      <a
        href="https://www.google.com/search?gs_ssp=eJzj4tLP1TfIyK1MKy5TYDRgdGDw4khLTE5Nys_PBgBmYAfL&q=facebook&rlz=1C1VDKB_enIN1106IN1106&oq=facebook&gs_lcrp=EgZjaHJvbWUqEwgBEC4YgwEYxwEYsQMY0QMYgAQyBwgAEAAYjwIyEwgBEC4YgwEYxwEYsQMY0QMYgAQyDQgCEAAYgwEYsQMYgAQyDQgDEAAYgwEYsQMYgAQyCggEEAAYsQMYgAQyDQgFEAAYgwEYsQMYgAQyDQgGEAAYgwEYsQMYgAQyBggHEAUYQNIBCTM4NzQ4ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8">Facebook</a>
    </li>
    <li>
      <a href="https://www.youtube.com/">Youtube</a>
    </li>
    <li>
      <a href="">Sitemap</a>
    </li>
    <li>
      <a href="">FAQ</a>
    </li>
  </ul>
  <p>© 2022 E-comm Project</p>

</div>